<div class="video">
<iframe frameborder="0" width="710" height="400" src="https://vod.infomaniak.com/iframe.php?url=https://vod.infomaniak.com/redirect/valtv_vod//folder-32448/mp4-924/un-jour-avec-2016-01-alicia-manzoni-vod.mp4&amp;duration=&amp;player=3732&amp;vod=2092&amp;preloadImage=https://vod.infomaniak.com/redirect/valtv_vod//folder-32448/mp4-924/un-jour-avec-2016-01-alicia-manzoni-vod.jpg?1454925039919&amp;lg=fr&amp;wmode=direct"></iframe>
</div>